{#include base.html}
{#title}{#if payload.id}Edit{#else}New{/if} Payload - TestState{/title}
 
{#body}
<section class="flex-between mb-3">
    <div>
        <h2>{#if payload.id}Edit{#else}New{/if}</h2>
    </div>
    <div>
        <a href="/payloads" class="btn">Return</a>
    </div>
</section>
 
<form action="/payloads/save" method="POST" enctype="multipart/form-data" class="full-width-form">
    {#if payload.id}<input type="hidden" name="id" value="{payload.id}">{/if}
    
    <fieldset>
        <legend>Settings</legend>
        <div class="field">
            <label>Name</label>
            <input type="text" name="name" value="{payload.name}" required placeholder="Name">
        </div>
        <div class="field">
            <label>Description</label>
            <textarea name="description" rows="2" placeholder="Description...">{payload.description}</textarea>
        </div>
        <div class="field">
            <label>Type</label>
            <input type="text" name="type" value="{payload.type}" list="payload-types" required placeholder="Type">
            <datalist id="payload-types">
                {#for type in availableTypes}
                    <option value="{type}"></option>
                {/for}
            </datalist>
        </div>
        <div class="field">
            <label>Metadata</label>
            <textarea name="metadata" class="font-mono small" rows="5" placeholder='{ "key": "value" }'>{payload.metadata}</textarea>
        </div>
    </fieldset>
 
    <fieldset>
        <legend>File</legend>
        {#if payload.attachmentName}
            <div class="field">
                <span class="muted small">Asset: <strong>{payload.attachmentName}</strong></span>
            </div>
        {/if}
        <input type="file" name="attachmentFile" class="w-full">
    </fieldset>
 
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{/body}
{/include}
