{#include base.html}
{#title}Payloads - TestState{/title}
 
{#body}
<section class="flex-between mb-3">
    <div>
        <h2>Payloads</h2>
    </div>
    <div>
        <a href="/payloads/new" class="btn btn-primary">New</a>
    </div>
</section>
 
<section class="data-grid payloads-grid">
    <div class="data-grid-header full-column">
        <div class="data-grid-cell">Name</div>
        <div class="data-grid-cell">Type</div>
        <div class="data-grid-cell flex-end">Actions</div>
    </div>
    {#for payload in payloads}
    <div class="data-grid-row full-column">
        <div class="data-grid-cell" data-label="Name">
            <div class="flex-grow">
                <strong>{payload.name}</strong>
                {#if payload.description}
                    <div class="muted small">{payload.description}</div>
                {/if}
            </div>
        </div>
        <div class="data-grid-cell" data-label="Type">
            <code class="font-mono">{payload.type}</code>
        </div>
        <div class="data-grid-cell flex-end" data-label="Actions">
            <div class="flex">
                {#if payload.attachmentName}
                    <a href="/payloads/{payload.id}/attachment" class="btn small" title="Export: {payload.attachmentName}">Export</a>
                {/if}
                <a href="/payloads/{payload.id}/edit" class="btn small">Edit</a>
                <form action="/payloads/{payload.id}/delete" method="POST" onsubmit="return confirm('Are you sure?');">
                    <button type="submit" class="btn-error small">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {#else}
    <div class="p-3 muted text-center full-column">
        Empty. <a href="/payloads/new">New.</a>
    </div>
    {/for}
</section>
{/body}
{/include}
