{#include base.html}
{#title}Save Payload - TestState{/title}
 
{#body}
<section class="flex-between mb-3">
    <div>
        <h2>Save</h2>
    </div>
    <div class="flex">
        <a href="/translations/{sessionId}/status" class="btn">Return</a>
    </div>
</section>
 
<form action="/translations/save-payload" method="POST" class="full-width-form">
    <input type="hidden" name="sessionId" value="{sessionId}">
    <input type="hidden" name="index" value="{index}">
 
    <fieldset>
        <legend>Info</legend>
        <div class="field">
            <label>Name</label>
            <input type="text" name="name" value="{defaultName}" required autofocus placeholder="Name">
        </div>
        <div class="field">
            <label>Description</label>
            <textarea name="description" rows="3" placeholder="Description...">Translated {type} from {sessionId}</textarea>
        </div>
    </fieldset>
 
    <fieldset>
        <legend>Data</legend>
        <div class="field">
            <label>Type</label>
            <input type="text" value="{type}" readonly class="input-readonly">
        </div>
    </fieldset>
 
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{/body}
{/include}
