{#include base.html}
{#title}Translations - TestState{/title}
 
{#body}
<section class="flex-between mb-3">
    <div>
        <h2>History</h2>
    </div>
    <div>
        <a href="/translations/new" class="btn btn-primary">New</a>
    </div>
</section>
 
<section class="data-grid translations-grid">
    <div class="data-grid-header full-column">
        <div class="data-grid-cell">ID</div>
        <div class="data-grid-cell">Format</div>
        <div class="data-grid-cell">Status</div>
        <div class="data-grid-cell flex-end">Actions</div>
    </div>
    {#for session in sessions}
    <div class="data-grid-row full-column">
        <div class="data-grid-cell" data-label="ID">
            <code class="font-mono small">{session.sessionId}</code>
        </div>
        <div class="data-grid-cell" data-label="Format">
            <code>{session.ticket.targetFormat}</code>
        </div>
        <div class="data-grid-cell" data-label="Status">
            <div class="flex">
                {#if session.status}
                    <span class="status status-{session.status.state.stateClass}">
                        {session.status.state.displayState}
                    </span>
                    {#if session.status.message}
                        <div class="small muted truncate status-message" style="max-width: 250px;">{session.status.message}</div>
                    {/if}
                {#else}
                    <span class="status">PENDING</span>
                {/if}
            </div>
        </div>
        <div class="data-grid-cell flex-end" data-label="Actions">
            <a href="/translations/{session.sessionId}/status" class="btn small">Monitor</a>
        </div>
    </div>
    {#else}
    <div class="p-3 muted text-center full-column">
        No active translation sessions. <a href="/translations/new">Start one.</a>
    </div>
    {/for}
</section>
{/body}
{/include}
