{#include base.html}
{#title}New Task - TestState{/title}
 
{#body}
<section class="flex-between mb-3">
    <div>
        <h2>New</h2>
    </div>
    <div>
        <a href="/translations" class="btn">Cancel</a>
    </div>
</section>
 
<form action="/translations/start" method="POST" class="full-width-form">
    <fieldset>
        <legend>Task</legend>
        <div class="field">
            <label>Node</label>
            <select name="agentId" id="agent-select" required autofocus>
                <option value="">-- Select Node --</option>
                {#for agent in agents}
                    <option value="{agent.id}">{agent.displayName}</option>
                {#else}
                    <option disabled>No agents</option>
                {/for}
            </select>
        </div>
 
        <div class="field">
            <label>Type</label>
            <select name="type" id="type-select" required disabled>
                <option value="">-- Select Node First --</option>
            </select>
        </div>
    </fieldset>
 
    <fieldset>
        <legend>Payloads</legend>
        <ul id="payload-list" class="scrollable-list">
            {#for p in allPayloads}
                <li data-type="{p.type}">
                    <label class="flex m-0 cursor-pointer">
                        <input type="checkbox" name="payloadIds" value="{p.id}" class="m-0">
                        <div class="flex-column">
                            <strong>{p.name}</strong> 
                            <code class="muted small">{p.type}</code>
                        </div>
                    </label>
                </li>
            {#else}
                <li class="muted small p-2 text-center">Empty.</li>
            {/for}
        </ul>
    </fieldset>
 
    <div class="form-actions">
        <button type="submit" id="start-btn" class="btn btn-primary" disabled>Start</button>
    </div>
</form>
 
<template id="option-template">
    <option value=""></option>
</template>
 
<script>
    window.agents = [
        {#for agent in agents}
        {
            id: "{agent.id}",
            displayName: "{agent.displayName}",
            supportedTranslations: [
                {#for st in agent.supportedTranslations}
                {
                    type: "{st.type}",
                    sources: [{#for stp in st.sourcePayloadTypes}"{stp}"{#if stp_hasNext},{/if}{/for}],
                    targets: [{#for ttp in st.targetPayloadTypes}"{ttp}"{#if ttp_hasNext},{/if}{/for}]
                }{#if st_hasNext},{/if}
                {/for}
            ]
        }{#if agent_hasNext},{/if}
        {/for}
    ];
</script>
<script src="/js/translations_new.js"></script>
{/body}
{/include}
